# Created by venv; see https://docs.python.org/3/library/venv.html

# Environment variables
backend/.env
*env/
# Virtual environment
env/

venv/

# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# Media files (optional)
media/